* {
    background-color: #111111;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.LogoAlura{
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: #ffffff;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder{color: #ffffff}
     .text-area:focus{
        outline: none;
     }

.mensagem{
    background-color: #ffffff;
    background-Image: url(imagembonecolupa.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #000000;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensagem:focus{
    outline:none;
}

.botoes{
    display: flex;
    margin-top: 18px;
}

.btn-encriptar{
    background-color: #185BC3;
    border: 1px solid #185BC3;
    border-radius: 24px;
    color: #ffffff;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-desencriptar{
    background-color: #65747D; 
    border: 1 px solid #65747D;
    border-radius: 24px;
    color: #ffffff; 
    cursor: pointer; 
    height: 67px;
    width: 328px;
}

.btn-copiar{
    background-color: #690A71;
    border: 1px solid #690A71;
    border-radius: 24px;
    color: #ffffff;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}

.informacao{
    color: #495057;
    font-size: 12px;
}